<h1>Pet Social</h1>
<p>With electronic outlet GPS, making social with pet</p>

<div class="action-bar">
	<button>+ Add Ticket</button>
</div>
<br />
<div class="tickets">

	<div class="a-ticket">
	<table width="200" height="250" border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td class="top_a"></td>
				<td class="top_b"></td>
				<td class="top_c"><a id="popWindowClosed" href="javascript:c()"><img src="/images/pop_window_closed.png"></a></td>
			</tr>
			<tr>
				<td class="middle_a"></td>
				<td class="middle_b" id="popWindowContent">
					<div>
						<div class="ticket-top">#23 <a href="">ssyangy</a></div>
						<div class="ticket-content"><span style="background-color:yellow">右上角搜索框用户没输入的情况下应该不能搜索,参见新浪的做法</style></div>
						<div class="ticket-label">P0 没有会死 xxx 重要 里程碑:6.23</div>
						<div class="ticket-bottom">
							<table border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr><td width="110">by: <a href="">truelwl</a></td><td><button>Edit</button></td></tr>
							</tbody>
							</table>
						</div>
					</div>
				</td>
				<td class="middle_c"></td>
			</tr>
			<tr>
				<td class="bottom_a"></td>
				<td class="bottom_b"></td>
				<td class="bottom_c"></td>
			</tr>
		</tbody>
	</table>
	</div>

	<div class="a-ticket">
	<table width="200" height="250" border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td class="top_a"></td>
				<td class="top_b"></td>
				<td class="top_c"><a id="popWindowClosed" href="javascript:c()"><img src="/images/pop_window_closed.png"></a></td>
			</tr>
			<tr>
				<td class="middle_a"></td>
				<td class="middle_b" id="popWindowContent">content</td>
				<td class="middle_c"></td>
			</tr>
			<tr>
				<td class="bottom_a"></td>
				<td class="bottom_b"></td>
				<td class="bottom_c"></td>
			</tr>
		</tbody>
	</table>
	</div>

	<div class="a-ticket">
	<table width="200" height="250" border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td class="top_a"></td>
				<td class="top_b"></td>
				<td class="top_c"><a id="popWindowClosed" href="javascript:c()"><img src="/images/pop_window_closed.png"></a></td>
			</tr>
			<tr>
				<td class="middle_a"></td>
				<td class="middle_b" id="popWindowContent">content</td>
				<td class="middle_c"></td>
			</tr>
			<tr>
				<td class="bottom_a"></td>
				<td class="bottom_b"></td>
				<td class="bottom_c"></td>
			</tr>
		</tbody>
	</table>
	</div>

</div>
