<h1>Pet Social</h1>
<p>With electronic outlet GPS, making social with pet</p>

<div class="action-bar">
	<button>+ Add Ticket</button>
</div>


<div class="tickets">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td class="top_a"></td>
				<td class="top_b"></td>
				<td class="top_c">
					<a id="popWindowClosed" href="javascript:c()"><img src="/images/pop_window_closed.png"></a>
				</td>
			</tr>
			<tr>
				<td class="middle_a"></td>
				<td class="middle_b" id="popWindowContent">
					<font size="4"><b>关于微书签</b></font><br /><br />
					<font size="2"><b>微书签它是一个轻型的网络书签，<br /><br />它能帮助您收藏书签、快捷浏览书签、分享书签...<br /><br /></b></font>
				</td>
				<td class="middle_c"></td>
			</tr>
			<tr>
				<td class="bottom_a"></td>
				<td class="bottom_b"></td>
				<td class="bottom_c"></td>
			</tr>
		</tbody>
	</table>
	
	<div class="a-ticket">
		<p>Play video from iOS device 有的时候需要考虑3.1 以前的老设备
		</p>
	</div>
	<div class="a-ticket">
		<p>五点多逛搜狐，七点游新浪。现在溜达京东和当当。英语听到头痛~一天中最高兴的是再次感受周鸿衣的激情
		</p>
	</div>
	<div class="a-ticket">
		<p>华尔街对淘米IPO的估值不高。因为需要从用户沉迷中赚钱的游戏类产品，不符合西方社会的主流价值观。这也是连Facebook也拒绝向13岁以下儿童开放的原因，更何况是游戏，更何况淘米玩家基本是3-8岁的儿童。
		</p>
	</div>
	<div class="a-ticket">
		<p>现在戴三道杠都不好意思出门了. 这位同学,你在"读人民日报,看新闻联播"的路上,还有很长的距离需要走啊... 哈哈哈
		</p>
	</div>
	<div class="a-ticket">
		<p>5月30日消息，点点网创始人许朝军今日公开指责人人网，谴责对方作出的“封杀”举措，并表示人人网此举剥夺用户权利。
		</p>
	</div>
	<div class="a-ticket">
		<p>你应该没什么事吧，干掉你的成本有点高。
		</p>
	</div>
	<div class="a-ticket">
		<p>犹他州法律规定金银币的价值将取决于其重量。美国1盎司银币鹰洋面值为1美元，但如果到7/11超市买东西，新法律规定其购买力为市场银价而不是面值，目前约为38美元。
		</p>
	</div>
</div>